/* ---------------------------------------------------------
//
//  Basics
//
// -------------------------------------------------------*/


@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic|Open+Sans:800);

@mixin coverer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
	font-family: 'Gentium Basic', serif;
	font-weight: 400;
}

body {
	background-color: #fff;
}

img.lettering {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.content {
  overflow: hidden;
  text-align: center;
}

/*Text formatting*/

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 32px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Gentium Basic', serif;
	font-weight: 400;
	font-size: 32px;
	font-style: italic;
	margin: 0 0 75px 0;
}

p {
	font-family: 'Gentium Basic', serif;
	font-weight: 400;
	font-size: 18px;
	max-width: 500px;
	margin: 15px auto 0 auto;
}

p.social {
  margin: 15px auto;
  text-align: center;
}

p.social a {
  color: #000000;
  padding: 0 5px 0 5px; 
  border-bottom: 0px;
}

p.social a:hover {
  color: #0B6EFF;
  border-bottom: 0px;
}

/* Links */

a:link, a:visited, .blue {
  color: #0B6EFF;
}
a:link, 
a:visited {
  text-decoration: none;
  border-bottom: 1px solid #c5d3e7;
}
a:hover {
  color: #094791;
  /*text-decoration: underline;*/
  border-bottom: 1px solid #094791;
}
a:active {
  color: #FC2B3B;
}
a img {
  vertical-align: bottom;
  border-width: 0;
  border-bottom: 0px;
}
a:hover img {
  vertical-align: bottom;
  border-width: 0;
  border-bottom: 0px;
}

img:hover {
  cursor: pointer;
    opacity: 1;
}

/* Black */

.black a:link,
.black a:visited {
  color: #000;
  border-bottom: 1px solid #aaa;
}
.black a:link.image,
.black a:link.video {
  border-width: 0;
}
.black a:hover {
  color: #333;
  border-color: #333;
}
.black a:active {
  color: #aaa;
  border-color: #aaa;
}

/* White */
.white {
	color: #fff;
}
.white a:link,
.white a:visited {
  color: #fff;
  border-bottom: 1px solid #ccc;
}
.white a:link.image,
.white a:link.video {
  border-width: 0;
}
.white a:hover {
  color: #fff;
  border-color: #fff;
}
.white a:active {
  color: #ccc;
  border-color: #ccc;
}

/* Red */

.red {
  color: #FC2B3B;
}

/* Gray */

.gray {
  color: #999;
}
.gray a:link,
.gray a:visited {
  color: #999;
  border-bottom: 1px solid #ccc;
}
.gray a:hover {
  color: #555;
  border-color: #555;
}
.gray a:active {
  color: #111;
  border-color: #111;
}

/* Logo positioning */
.logo {
	margin: 85px auto;
}

/* About positioning */
.about {
	margin-bottom: 75px;
}

/* ---------------------------------------------------------
//
//  You Are and You Are Not
//
// -------------------------------------------------------*/



/* ---------------------------------------------------------
//
//  VIS Page
//
// -------------------------------------------------------*/


/* Palette color codes */
/* Feel free to copy&paste color codes to your application */

/* CHAT colour palette */
#vis .chat-primary-1 { background-color: #FFC164 }
#vis .chat-primary-2 { background-color: #FFB039 }
#vis .chat-primary-0 { background-color: #FF9900 }
#vis .chat-primary-3 { background-color: #C67600 }
#vis .chat-primary-4 { background-color: #9B5D00 }

#vis .chat-complement-1 { background-color: #5387BD }
#vis .chat-complement-2 { background-color: #316DAC }
#vis .chat-complement-0 { background-color: #0D58A6 }
#vis .chat-complement-3 { background-color: #094481 }
.chat-complement-4 { background-color: #063565 }

/* FYL colour palette */
#vis .fyl-primary-1 { background-color: #7AA7D5 }
#vis .fyl-primary-2 { background-color: #4F86BE }
#vis .fyl-primary-0 { background-color: #316DAC }
#vis .fyl-primary-3 { background-color: #1058A3 }
#vis .fyl-primary-4 { background-color: #0A417A }

#vis .fyl-complement-1 { background-color: #FF8764 }
#vis .fyl-complement-2 { background-color: #FF6639 }
#vis .fyl-complement-0 { background-color: #FF3900 }
#vis .fyl-complement-3 { background-color: #C62C00 }
#vis .fyl-complement-4 { background-color: #9B2300 }


/* Explore colour palette */
#vis .explore-primary-1 { background-color: #87CF69 }
#vis .explore-primary-2 { background-color: #55A632 }
#vis .explore-primary-0 { background-color: #358413 }
#vis .explore-primary-3 { background-color: #1B5B00 }
#vis .explore-primary-4 { background-color: #0D2D00 }

#vis .explore-complement-1 { background-color: #F1F1F1 }
#vis .explore-complement-2 { background-color: #C2C2C2 }
#vis .explore-complement-0 { background-color: #919191 }
#vis .explore-complement-3 { background-color: #616261 }
#vis .explore-complement-4 { background-color: #232423 }

/* end */
#vis .logo { 

  margin:0; padding: 20px;
  background: #fff;
  color: #000;
  font: 12px/1.33 "Helvetica Neue", Helvetica, sans-serif;
  text-align:left;
  max-width: 800px;
}

#vis body {
  margin:0; padding: 20px;
  background: #fff;
  color: #000;
  font: 12px/1.33 "Helvetica Neue", Helvetica, sans-serif;
  text-align:left;
  max-width: 800px;
  }
#vis h1 {
  margin: 25px 0 85px 0;
  font-size: 150px;
  line-height: 150px;
  }
#vis h2 {
  margin: 50px 0 0 0;
  font-size: 75px;
  line-height: 75px;
  width: 900px;
  }
#vis h2 a {
  color: #000000;
  text-decoration: underline;
}
#vis h3 {
  margin: 15px 0 0 0;
  font-size: 25px;
  }
#vis h3 a {
  color: #000000;
  text-decoration: underline;
}
#vis p {
  margin: 0 0;
  font-size: 12px;
  }
#vis img {
  margin: 30px 30px 75px;
}
#vis .chat-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  margin: 30px 30px 0 0;
}
#vis .chat-subheader {
  font-family: 'Gentium Basic', serif;
  font-weight: 400;
  font-size: 32px;
  font-style: italic;
  margin: 10px 30px 0 0;
}
#vis .chat-body {
  font-family: 'Gentium Basic', serif;
  font-weight: 400;
  font-size: 18px;
  max-width: 500px;
  margin: 10px 30px 75px 0;
}
#vis .fyl-header {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 30px 30px 0 0;
}
#vis .fyl-body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 10px 30px 75px 0;
}

#vis .explore-header {
  font-family: 'Helvetica Neue', Helvetica,Arial,'Liberation Sans', 'FreeSans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 30px 30px 0 0;
}

#vis .explore-body {
  font-family: 'Helvetica Neue', Helvetica,Arial, 'Liberation Sans', 'FreeSans', sans-serif;
  font-size: 12px;
  margin: 10px 30px 75px 0;
}
#vis .color-table {
  margin: 30px 30px 75px;
  border-collapse:collapse;
  border:none;
  border-spacing:0;
  }
#vis .color-table th {
  padding: 0 1em 0 0;
  text-align: right;
  vertical-align: middle;
  font-size: 100%;
  font-weight: normal;
  border: none;
  }
#vis .color-table td.sample {
  width:6em; height:6em;
  padding: 10px;
  text-align:center;
  vertical-align:middle;
  font-size:90%;
  border: 1px solid white;
  white-space:nowrap;
  }
#vis .color-table td.sample-0 {
  width:18em;
  }
#vis .color-table.small td.sample {
  width:3em; height:3em;
  padding:0;
  border:none;
  margin-bottom:-25px;
  }
#vis .color-table.small td.sample-0 {
  width:9em;
  }
#vis .color-table .white { margin-bottom:0.2em; color:white }
#vis .color-table .black { margin-top:0.2em; color:black }

#vis hr {
  margin: 2em 0 1em 0;
  border:none;
  border-bottom:1px solid silver;
  }
#vis #footer {
  padding:1em;
  text-align:center;
  font-size:80%;
  }
