body {
	background: url('http://jonathonreed.github.io/img/WDYbg.jpg') no-repeat fixed center;
	background-size: cover;
	width: 100%;
}

p {
	text-align: center;
}
         
.center {
    	font-family: 'Open Sans', sans-serif;
    	font-weight: 400;
    	font-size: 31px;
    	color: #fff;
    	margin: 0 auto;
}
  
.center span {
    	display: block;
    	height: 200px;
    	line-height: 575px;
    	vertical-align: middle;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}  

.sky {
	position: absolute top;
	font-family: 'Open Sans', sans-serif;
   	font-weight: 300;
    	font-size: 13px;
    	color: #fff;
	text-align: center;
}

.sky a {
	color: #fff;
	text-decoration: none;
}
  
.root {
    	position: fixed; bottom: 0; width:100%;	
	font-family: 'Open Sans', sans-serif;
    	font-weight: 300;
    	font-size: 13px;
    	color: #fff;
	text-align: center;
}
  
.root a {
    	color: #fff;
    	text-decoration: none;
}
