/* RESET */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
	small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
	label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
	embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
	mark, audio, video {
		margin: 0;
		padding: 0;
		vertical-align: baseline;
		border: 0;
		font-size: 100%;
		font: inherit;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
		-webkit-text-size-adjust: none;
	}

	ol, ul {
		list-style: none;
	}

/* BASIC */

	body {
	}
	
	.two-space {
		height: 2em;
	}

	.small-space {
		height: 4em;
	}

	.space {
		height: 8em;
	}

/* TYPE */

	h1 { 
		padding: 0.1em 0;
		font-family: 'Open Sans';
		font-weight: 700;
		text-transform: uppercase;
		font-size: 4em;
		color: #000;
	}
	
	h2 {
		padding: 0.1em 0;
		font-family: 'Open Sans';
		font-weight: 700;
		text-transform: uppercase;
		font-size: 2em;
		color: #202020;
	}

	h3 {
		padding: 0.2em 0 1em 0;
		font-family: 'Gentium Basic';
		font-weight: 300;
		font-style: italic;
		font-size: 2em;
		color: #202020;
	}

	h4 {
		font-family: 'Open Sans';
		font-weight: 700;
		font-size: 1.5em;
		text-transform: uppercase;
		color: #202020;
	}

	p {
		padding: 1em;
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 1.25em;
		line-height: 1.25;
		text-align: justify;
		text-align-last: center;
		color: #202020;
	}

	i {
		font-style: italic;
	}

	strong {
		font-weight: 600;
	}

	a {
		border-bottom: 1px #ff9900 solid;
	}

/* FONT AWESOME */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			display: inline;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: 'FontAwesome';
			font-size: 1.5em;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;	
			margin-left: -0.5em;
		}

		.icon > .label {
				display: none;
			}

		.icon.major {
			border-radius: 3px;
			border: solid 2px #fff;
			display: inline-block;
			font-size: 1.35em;
			height: calc(3em + 2px);
			line-height: 3em;
			text-align: center;
			width: calc(3em + 2px);
		}

			.icon.major:before {
				display: inline-block;
				font-size: 1.5em;
			}

	ul.icons {
			padding-left: 0;
			cursor: default;
			list-style: none;
		}

		ul.icons a {
			color: #000000;
			transition: all 0.2s ease-in-out 0s;
		}

			ul.icons a:hover {
				color: #FFC164;
			}

			ul.icons li {
				display: inline-block;
				padding: 0 3em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 1.5rem;
				}

/* BANNER */

	#top {
		position: fixed;
		top: 0;
		left: 0;
		height: 2em;
		width: 100%;
		margin: 0 auto;
		padding: 0.75em 0.5 0 0.5;
		background-color: #FFC164;
		color: #ffffff;
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 1em;
		text-align: center;
		z-index: 10;
		opacity: 1;
	}

	#top a {
		color: #fff;
		text-decoration: none;
		border-bottom: 1px #fff solid;
	}

/* WHITE */

	#white {
		width: 100%;
		height: 100vh;
		background-color: #fff;
	}

	.white-table {
			display: table;
			height: 100vh;
			width: 100%;
			margin: 0 auto;
			overflow: hidden;
			z-index: 2;
		}

		.white-cell {
			display: table-cell;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			vertical-align: middle;
			text-align: center;
		}

/* ORANGE */

	#orange {
		width: 100%;
		height: 100vh;
		background-color: #ff9900;
	}

	#orange-footer {
		width: 100%;
		height: 100vh;
		background: #ff9900 url("../../img/CHAT-logo-blank-350-web.jpg") center no-repeat;
	}

		#orange-footer h2 {
			padding-bottom: 0.5em;
		}

		.orange-table {
			display: table;
			height: 100vh;
			width: 100%;
			margin: 0 auto;
			overflow: hidden;
			z-index: 2;
		}

		.orange-cell {
			display: table-cell;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			vertical-align: middle;
			text-align: center;
		}

		.orange-cell h2,h3 {
			text-align: center;
			width: 60%;
			margin: 0 auto;
			color: #000;
		}

		.orange-cell p {
			width: 60%;
			margin: 0 auto;
			text-align-last: center;
			color: #000;
		}

			.orange-cell p.navigation {
				padding: 2em 0 0 0;
				font-weight: 300;
				text-transform: uppercase;
				text-align: center;
			}

				.orange-cell p.navigation a {
					font-weight: 700;
					text-decoration: none;
					color: #202020;
					transition: all 0.2s ease-in-out 0s;
					color: #000;
				}

					.orange-cell p.navigation a:hover {
						color: #FFC164;
					}

/* FULL-WIDTH PHOTOS */

	#full-photo-1 {
		width: 100%;
		height: 100vh;
		overflow-y: hidden;
		overflow: hidden;
			background-size: cover;
			background-position: center;
			background-image: url('../../img/IMG_9661-JCR-1920-web.jpg')
	}

	#full-photo-2 {
		width: 100%;
		height: 100vh;
		overflow-y: hidden;
		overflow: hidden;
			background-size: cover;
			background-position: center;
			background-image: url('../../img/IMG_9553-JCR-1920-web.jpg')
	}

/* WHAT WE DO */

	#what-we-do {
		padding: 12em 0;
		background-color: #fff;
	}

		#what-we-do h1 {
			text-align: center;
		}

		#what-we-do p.intro {
			padding-bottom: 2em;
			width: 60%;
			margin: 0 auto;
		}

		#what-we-do .list {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			list-style: none;
			width:80%;
			margin: 0 auto;
			padding: 0;
		}

			#what-we-do .list h4 {
				width: 100%;
				padding: 0;
				margin: -0.95em 0 0 1.65em;
				text-align: left;
			}

			#what-we-do .list p {
				margin: 0 0 0 2em;
				padding: 0.75em 0;
				text-align-last: left;
			}

			#what-we-do .list li {
				display: inline-block;
				width:50%;
				padding: 4em;
				margin: 0 auto;
				box-sizing:border-box;
				position: relative;
				text-align: left;
			}

				#what-we-do .list li:hover.icon {
					color: #FF9900;
					transition: all 0.2s ease-in-out 0s;
				}

				#what-we-do .list li:nth-child(1) {
					background-color: rgba(0, 0, 0, 0.035);
				}

				.list li:nth-child(2) {
					background-color: rgba(0, 0, 0, 0.07);
				}

				.list li:nth-child(3) {
					background-color: rgba(0, 0, 0, 0.105);
				}

				.list li:nth-child(4) {
					background-color: rgba(0, 0, 0, 0.14);
				}

				.list li:nth-child(5) {
					background-color: rgba(0, 0, 0, 0.175);
				}

				.list li:nth-child(6) {
					background-color: rgba(0, 0, 0, 0.21);
				}

				.list li:nth-child(7) {
					background-color: rgba(0, 0, 0, 0.245);
				}

				.list li:nth-child(8) {
					background-color: rgba(0, 0, 0, 0.28);
				}

				.list li:nth-child(9) {
					background-color: rgba(0, 0, 0, 0.315);
				}

				.list li:nth-child(10) {
					background-color: rgba(0, 0, 0, 0.35);
				}

				@media screen and (max-width: 980px) {

					#what-we-do .list li {
						padding: 3em 2em 1em 2em ;
						text-align: center;
					}

						#what-we-do .list li:before {
							left: 0;
							margin: 0 0 1em 0;
							position: relative;
							top: 0;
						}
					
					#what-we-do .list h4 {
						padding: 0;
						margin: 1em 0 0 0;
						text-align: center;
					}
					
					#what-we-do .list p {
						margin: 0;
						padding: 0.75em 0;
						text-align-last: left;
			}

			}

			@media screen and (max-width: 768px) {

				#what-we-do .list li {
					display: block;
					width: 100%;
					padding: 3em 0 1em 0;
					border-top: solid 2px #202020;
					background-color: transparent !important;
				}

					#what-we-do .list li:first-child {
						border-top: 0;
					}

			}

/* CURRENT PROJECT */

	#current-project {
		position: relative;
		width: 70%;
		margin: 0 auto;
		padding: 12em 0;
		background-color: #fff;
		text-align: center;
	}

		#current-project img {
			max-width: 700px;
			margin: 0 auto 5em auto;
		}

		@media (max-width: 768px) {
			
			#current-project img {
				width: 100%;
			}
			
		}

		#current-project h1 {
			font-size: 4em;
		}

		#current-project h2 {
			text-align: center;
		}

			#current-project h2 a {
				border: none;
				transition: all 0.2s ease-in-out 0s;
				color: #202020;
			}

				#current-project h2 a:hover {
					border: none;
					color: #ff9900;
				}

		#current-project a {
			text-decoration: none;
			color: #202020;
		}

/* PAGE */

	#page {
		position: relative;
		width: 70%;
		margin: 0 auto;
		padding: 12em 0;
		background-color: #fff;
		text-align: center;
	}

		#page .float-left img {
			float: left;
			max-width: 500px;
			margin: 0 2em 0 0;
		}

		#page .float-right img {
			float: right;
			max-width: 500px;
			margin: 0 0 0 2em;
		}

		@media (max-width: 768px) {
			
			#page .float-left img {
				width: 100%;
				float: none;
				margin: 0 auto 1em auto;
			}
			
			#page .float-right img {
				width: 100%;
				float: none;
				margin: 0 auto 1em auto;
			}
			
		}

		#page h2 {
			width: 100%;
			text-align: left;
		}

		#page h3 {
			width: 100%;
			padding: 0 0 1em 0;
			font-size: 2em;
			text-align: left;
		}

		#page h4 {
			padding: 0 0 1em 0;
			text-align: left;
		}

		#page p {
			padding: 0 0 1em 0;
			text-align-last: left;
		}

		#page a {
			border-bottom: 1px #555 solid;
			text-decoration: none;
			color: #202020;
			transition: all 0.2s ease-in-out 0s;
		}

			#page a:hover {
				border-bottom-color: #ff9900;
			}

/* PLUGINS */

	#mc_embed_signup {
		clear:left;
		width:100%;
		padding: 2em 0 0 0;
		font-family: 'Open Sans';
		font-size: 1em;
	}

	#mc_embed_signup form {
		padding: 1em 0;
		text-align: center;
	}

	.mc-field-group {
		display: inline-block;
	} /* positions input field horizontally */

	#mc_embed_signup input.email {
		box-sizing: border-box;
		display: inline-block;
		width: 25em;
		height: 2em;
		padding: 0px 0.4em;
		margin: 0;
		border: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #fff;
		font-family: 'Open Sans';
		font-size: 1em;
		color: #343434;
		vertical-align: top;
	}

	#mc_embed_signup label {
		display: block;
		padding-bottom: 1em;
		font-size: 1em;
		font-weight: bold;
	}

	#mc_embed_signup .clear {
		display: inline-block;
	} /* positions button horizontally in line with input */

	#mc_embed_signup .button {
		box-sizing:border-box;
		display: inline-block;
		height:2em;
		margin: 0;
		padding: 0 1.2em;
		border: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #FFB039;
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 1em;
		color: #202020;
		transition: all 0.2s ease-in-out 0s;
	}

	#mc_embed_signup input.button:hover {
		background-color: #FFC164;
	}

	#mc_embed_signup .button:hover {
		background-color: #777;
		cursor: pointer;
	}

	#mc_embed_signup div#mce-responses {
		float: left;
		clear: both;
		top: -1.4em;
		width: 90%;
		margin: 0 5%;
		padding: 0em .5em 0em .5em;
		overflow: hidden;
	}
	
	#mc_embed_signup div.response {
		float: left;
		top: -1.5em;
		width:80%;
		margin: 1em 0;
		padding: 1em .5em .5em 0;
		font-weight: bold;
		z-index: 1;
	}

	#mc_embed_signup #mce-error-response {
		display:none;
	}

	#mc_embed_signup #mce-success-response {
		display:none;
		color: #529214;
	}
	
	#mc_embed_signup label.error {
		display: block;
		float: none;
		width: auto;
		margin-left: 1.05em;
		padding: .5em 0;
		text-align: left;
	}

	@media (max-width: 768px) {
    
		#mc_embed_signup input.email {
			width:80%;
			margin-bottom: 0 auto;
			padding: 0.3em;
			text-align: center;
		}
		
    	#mc_embed_signup .clear {
			display: block;
			width: 80%;
			margin: 0 auto;
			padding: 0.3em;
		}
		
    	#mc_embed_signup .button {
			width: 100%;
			margin:0 auto;
		}
		
	}

	#cd-timeline {
		position: relative;
		padding: 2em 0;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	
		#cd-timeline::before {
			content: '';
			position: absolute;
			top: 0;
			left: 1.5em;
			height: 100%;
			width: 0.25em;
			background: #FFC164;
			z-index: 1;
		}

		#cd-timeline .title h2 {
			position: relative;
			font-size: 3em;
			text-align: center;
			background: #ffffff;
			z-index: 5;
		}

		@media only screen and (max-width: 1170) {
			
		}

		@media only screen and (min-width: 1170px) {
			#cd-timeline {
				margin-top: 3em;
				margin-bottom: 3em;
			}
		  
				#cd-timeline::before {
					left: 50%;
					margin-left: -2px;
				}
		}

	.cd-container {
		width: 90%;
		max-width: 1170px;
		margin: 0 auto;
	}
	
		.cd-container::after {
			/* clearfix */
			content: '';
			display: table;
			clear: both;
		}

	.cd-timeline-block {
		position: relative;
		margin: 2em 0;
	}

		.cd-timeline-block:after {
			content: "";
			display: table;
			clear: both;
		}

		.cd-timeline-block:first-child {
			margin-top: 0;
		}

		.cd-timeline-block:last-child {
			margin-bottom: 0;
		}

		@media only screen and (min-width: 1170px) {
			.cd-timeline-block {
				margin: 4em 0;
			}
			
			.cd-timeline-block:first-child {
				margin-top: 0;
			}
			
  			.cd-timeline-block:last-child {
				margin-bottom: 0;
			}
		}

	.cd-timeline-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		margin: 0 auto;
		border-radius: 50%;
		box-shadow: 0 0 0 4px white;
		z-index: 5;
	}

		.cd-timeline-img.duo {
			background-color: #FFB039;
		}

		.cd-timeline-img.jcr {
			background-color: #c0c0c0;
		}

		.cd-timeline-img.ac {
			background-color: #d0d0d0;
		}

		.cd-timeline-img img {
			display: block;
			width: 24px;
			height: 24px;
			position: relative;
			left: 50%;
			top: 50%;
			margin-left: -12px;
			margin-top: -12px;
		}

			#cd-timeline .cd-timeline-img ul.icons.timeline a.icon::before {
				font-size: 0.8em;
			}

			#cd-timeline .cd-timeline-img ul.icons.timeline a {
				left: 6.5px;
				top: 17px;
				color: #ffffff;
				font-size: 2em;
				border-bottom: none;
				vertical-align: middle;
				text-align: center;
				cursor: default;
			}

		.cd-timeline-img.cd-picture {
			background: #75ce66;
		}

		.cd-timeline-img.cd-movie {
			background: #c03b44;
		}

		.cd-timeline-img.cd-location {
			background: #f0ca45;
		}

		@media only screen and (max-width: 1170px) {
			#cd-timeline .title h2 {
				text-align: left;
				margin-left: -0.6em;
			}
			
			#cd-timeline .cd-timeline-img {
				margin-left: 0.35em;
			}
			
			#cd-timeline .cd-timeline-img ul.icons.timeline a.icon::before {
				font-size: 0.75em;
			}
			
			#cd-timeline .cd-timeline-img ul.icons.timeline a {
				left: 5.5px;
				top: 8px;
				color: #ffffff;
				font-size: 2em;
				border-bottom: none;
				vertical-align: middle;
				text-align: center;
			}
		}

		@media only screen and (min-width: 1170px) {
			.cd-timeline-img {
				width: 60px;
				height: 60px;
				left: 50%;
				margin-left: -30px;
				/* Force Hardware Acceleration in WebKit */
				-webkit-transform: translateZ(0);
				-webkit-backface-visibility: hidden;
			}

			.cssanimations .cd-timeline-img.is-hidden {
				visibility: hidden;
			}

			.cssanimations .cd-timeline-img.bounce-in {
				visibility: visible;
				-webkit-animation: cd-bounce-1 0.6s;
				-moz-animation: cd-bounce-1 0.6s;
				animation: cd-bounce-1 0.6s;
			}
		}

	@-webkit-keyframes cd-bounce-1 {
		0% {
			opacity: 0;
			-webkit-transform: scale(0.5);
		}

		60% {
			opacity: 1;
			-webkit-transform: scale(1.2);
		}

		100% {
			-webkit-transform: scale(1);
		}
	}

	@-moz-keyframes cd-bounce-1 {
		0% {
			opacity: 0;
			-moz-transform: scale(0.5);
		}

		60% {
			opacity: 1;
			-moz-transform: scale(1.2);
		}

		100% {
			-moz-transform: scale(1);
		}
	}

	@keyframes cd-bounce-1 {
		0% {
			opacity: 0;
			-webkit-transform: scale(0.5);
			-moz-transform: scale(0.5);
			-ms-transform: scale(0.5);
			form: scale(0.5);
			transform: scale(0.5);
  		}

		60% {
			opacity: 1;
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
		}

		100% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
  		}
	}

	.cd-timeline-content {
		position: relative;
		margin-left: 2em;
		padding: 1em;
		background: #eaeaea;
		border-radius: 0.25em;
		box-shadow: 0 0.25em 0 #FFC164;
	}
	
		.cd-timeline-content:after {
			content: "";
			display: table;
			clear: both;
		}

		#cd-timeline .cd-timeline-content h4 {
			padding-bottom: 0;
		}

		#cd-timeline .cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
		}

		#cd-timeline .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
			font-family: 'Open Sans';
			font-weight: 300;
			display: inline-block;
		}

		#cd-timeline .cd-timeline-content p {
			margin: 1em 0;
			padding-bottom: 0;
			line-height: 1.6;
		}

		#cd-timeline .cd-timeline-content .cd-read-more {
			float: right;
			padding: 0.8em 1em;
  			background: #dadada;
			border-radius: 0.25em;
		}
		
			#cd-timeline .cd-timeline-content a.cd-read-more {
				border-bottom: none;
			}

				#cd-timeline .cd-timeline-content a.cd-read-more:hover {
					border-bottom: none;
					background: #d0d0d0;
				}

		.cd-timeline-content .cd-date {
  			float: left;
  			padding: .8em 0;
			color: #606060;
		}

		.cd-timeline-content::before {
			content: '';
			position: absolute;
			top: 1em;
			right: 100%;
			height: 0;
			width: 0;
			border: 0.5em solid transparent;
			border-right: 0.5em solid white;
		}

		@media only screen and (max-width: 1170px) {
			.cd-timeline-content {
				top: -0.8em;
				margin-left: 4em;
				padding: 1.5em;
				width: 85%;
  			}
			
			.cd-timeline-content::before {
					top: 1.5em;
					left: auto;
					right: 98.4%;
					margin-right: 0.5em;
					border-color: transparent;
					border-right-color: #eaeaea;
			}
		}

		@media only screen and (min-width: 768px) {
			.cd-timeline-content h4 {
  			}
 
			.cd-timeline-content p {
				font-size: 1em;
  			}
  
			.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
			}
		}

		@media only screen and (min-width: 1170px) {
			.cd-timeline-content {
				margin-left: -3em;
				padding: 1.5em;
				width: 44%;
  			}
			
  			.cd-timeline-content::before {
				top: 1.5em;
				left: 98%;
				margin-left: 0.5em;
				border-color: transparent;
				border-left-color: #eaeaea;
  			}
  
			.cd-timeline-content .cd-read-more {
				float: left;
  			}

			.cd-timeline-content .cd-date {
				position: absolute;
				width: 100%;
				left: 122.5%;
				top: 0.5em;
				font-size: 1em;
				text-align: left;
  			}
  
			.cd-timeline-block:nth-child(even) .cd-timeline-content {
				float: right;
				margin-right: -3em;
				padding: 1.5em;
				width: 44%;
			}
  
				.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
					top: 1.5em;
					left: auto;
					right: 98%;
					margin-right: 0.5em;
					border-color: transparent;
					border-right-color: #eaeaea;
				}
			
			.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
				float: right;
  			}
 
			.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
				top: 0.5em;
				left: auto;
				right: 122.5%;
				text-align: right;
  			}
  
			.cssanimations .cd-timeline-content.is-hidden {
				visibility: hidden;
			}

			.cssanimations .cd-timeline-content.bounce-in {
				visibility: visible;
				-webkit-animation: cd-bounce-2 0.6s;
				-moz-animation: cd-bounce-2 0.6s;
				animation: cd-bounce-2 0.6s;
			}
		}

		@media only screen and (min-width: 1170px) {
			/* inverse bounce effect on even content blocks */
			.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
				-webkit-animation: cd-bounce-2-inverse 0.6s;
				-moz-animation: cd-bounce-2-inverse 0.6s;
				animation: cd-bounce-2-inverse 0.6s;
			}
		}

	@-webkit-keyframes cd-bounce-2 {
		0% {
			opacity: 0;
			-webkit-transform: translateX(-100px);
		}

		60% {
			opacity: 1;
			-webkit-transform: translateX(20px);
		}

		100% {
			-webkit-transform: translateX(0);
		}
	}

	@-moz-keyframes cd-bounce-2 {
		0% {
			opacity: 0;
			-moz-transform: translateX(-100px);
		}

		60% {
			opacity: 1;
			-moz-transform: translateX(20px);
		}

		100% {
			-moz-transform: translateX(0);
		}
	}

	@keyframes cd-bounce-2 {
		0% {
			opacity: 0;
			-webkit-transform: translateX(-100px);
			-moz-transform: translateX(-100px);
			-ms-transform: translateX(-100px);
			-o-transform: translateX(-100px);
			transform: translateX(-100px);
		}

		60% {
			opacity: 1;
			-webkit-transform: translateX(20px);
			-moz-transform: translateX(20px);
			-ms-transform: translateX(20px);
			-o-transform: translateX(20px);
			transform: translateX(20px);
		}

		100% {
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-ms-transform: translateX(0);
			-o-transform: translateX(0);
			transform: translateX(0);
		}
	}

	@-webkit-keyframes cd-bounce-2-inverse {
		0% {
			opacity: 0;
			-webkit-transform: translateX(100px);
		}

		60% {
			opacity: 1;
			-webkit-transform: translateX(-20px);
		}

		100% {
			-webkit-transform: translateX(0);
		}
	}

	@-moz-keyframes cd-bounce-2-inverse {
		0% {
			opacity: 0;
			-moz-transform: translateX(100px);
		}

		60% {
			opacity: 1;
			-moz-transform: translateX(-20px);
		}

		100% {
			-moz-transform: translateX(0);
		}
	}

	@keyframes cd-bounce-2-inverse {
		0% {
			opacity: 0;
			-webkit-transform: translateX(100px);
			-moz-transform: translateX(100px);
			-ms-transform: translateX(100px);
			-o-transform: translateX(100px);
			transform: translateX(100px);
		}

		60% {
			opacity: 1;
			-webkit-transform: translateX(-20px);
			-moz-transform: translateX(-20px);
			-ms-transform: translateX(-20px);
			-o-transform: translateX(-20px);
			transform: translateX(-20px);
		}

		100% {
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-ms-transform: translateX(0);
			-o-transform: translateX(0);
			transform: translateX(0);
		}
	}